body {
    display: flex;       
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    
    background-color: #0d6efd; /* Aquí puedes especificar el color que desees, ya sea utilizando nombres de colores, códigos hexadecimales, RGB, etc. */
    
      
    
    
}


header{
    
    padding: 20px 0;/*espaciamiento interno*/

}




nav a{
    text-transform: uppercase;/*las mayusculas*/
    color: black;
    font-weight: bold;/*negrita letra*/
    font-size: 22px;/*tamaño de la pagina*/
    text-decoration: none;/*decoracion de texto*/

}





.screen { 
    
    
    
    /*color: #fff; /* Color de texto blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    background-color: #c6cbe7;
}




input[type="text"],
input[type="password"] {
    background-color: #dcdde1; /* Color gris claro */
    color: #333; /* Color de texto negro */
}



button {
    display: block;
    width: 100%;
    padding: 10px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    margin-bottom: 10px;  
    box-sizing: border-box;
    background-color: #fbc531; /* Color amarillo */
    color: #fff; /* Color de texto blanco */    
    font-weight: bold;

}

button:hover {
    background-color: #0056b3;
}



